* {
	margin: 0;
	padding: 0;
	border: 0;
}

#screen {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;

	background-color: white;
	border: 1px solid #eee;
	/* box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.025); */

	image-rendering: pixelated; /* não borra os pixels */
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;

	/* apenas 'estica' o tamanho passado no html */
	height: 80vh; /*! se height < width */
	/* width: 80vw; */ /*! se height > width */
}

table#scoreboard {
	position: fixed;
	top: 10vh;
	left: 20px;

	text-align: center;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.7);
}
